@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?d4si7l');
  src:  url('../fonts/icomoon.eot?d4si7l#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?d4si7l') format('truetype'),
    url('../fonts/icomoon.woff?d4si7l') format('woff'),
    url('../fonts/icomoon.svg?d4si7l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* base start ==================================*/
html {
  overflow: scroll;
}

.w {
  width: 100%;
  margin: 0 auto;
}

em {
  font-family: 'icomoon';
}

.show {
  display: block!important;
}

.button {
  font-size: 12px;
  color: #fff;
  display: block;
  width: 123px;
  height: 46px;
  border: 2px solid #fff;
  border-radius: 25px;
  text-align: center;
  float: right;
  line-height: 46px;
  position: relative;
}

.arrow {
  display: block;
  position: absolute;
  right: 30px;
  top: 0;
}

.arr-content {
  display: block;
  position: absolute;
  left: 38px;
  top: 0;
}
/* base end ====================================*/


/* header start ================================*/
header {
  height: 70px;
  background-color: #fff;
  position: absolute;
  z-index: 999;
  opacity: 0;
}

.logo a {
  width: 115px;
  height: 40px;
  margin-left: 38px;
  margin-top: 16px;
  background: url(../images/logo.png);
  display: block;
  font-size: 0;
}

.nav>ul>li {
  float: left;
  font-size: 12px;
  margin-top: 16px;
  text-align: center;
  height: 36px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
}

.nav .drop:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  border-radius: 10px 10px 0  0;
}

.nav .drop:hover em {
  transform: rotate(180deg)
}

.car-tab {
  border-top: 1px solid #ddd;
  margin-top: -5px;
  width: 85px;
  height:183px;
  margin-left: -30px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  background-color: #fff;
  display: none;
}

.car-tab li {
  height: 26px;
  margin-bottom: 8px;
  line-height: 10px;
  text-align: left;
  padding-left: 20px;
  position: relative;
  overflow: hidden;
}

.car-tab li .spacer {
  width: 32px;
  margin-left: 19px;
}

.car-tab li:first-child {
  height: 40px;
  color: #bbb;
  font-weight: 200;
  line-height: 40px;
  margin: 0;

}

.car-tab li:nth-child(4) {
  height: 40px;
  font-weight: 200;
  color: #bbb;
  line-height: 40px;
  border-top: 1px solid #ddd;
  margin: 0;
}

.service-tab {
  border-top: 1px solid #ddd;
  margin-top: -5px;
  width: 130px;
  height:86px;
  margin-left: -30px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  background-color: #fff;
  display: none;
}
.service-tab li {
  height: 30px;
  margin-top: 10px;
  line-height: 20px;
  text-align: left;
  padding-left: 16px;
  position: relative;
  overflow: hidden;
}

.service-tab li .spacer {
  margin-left: 15px;
  width: 97px;
}

.NIO-tab {
  border-top: 1px solid #ddd;
  margin-top: -5px;
  width: 90px;
  height:126px;
  margin-left: -30px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  background-color: #fff;
  display: none;
}

.NIO-tab li {
  height: 30px;
  margin-top: 10px;
  line-height: 20px;
  text-align: left;
  padding-left: 20px;
  position: relative;
  overflow: hidden;
}

.NIO-tab li .spacer {
  margin-left: 19px;
  width: 50px;
}

.NIO-tab li .first {
  width: 26px;
}

.nav>ul>li span {
  display: block;
  width: 100%;
  height: 100%;
}


.nav>ul>li:first-child {
  width: 55px;
  margin-left: 45px;
  padding-left: 30px;
}

.nav>ul>li:nth-child(2) {
  width: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

.nav>ul>li:nth-child(3) {
  margin-left: 15px;
  overflow: hidden;
}

.nav>ul>li:nth-child(4) {
  margin-left: 65px;
  overflow: hidden;
}

.nav>ul>li:last-child {
  width: 60px;
  padding-left: 30px;
  margin-left: 20px;
}

.nav>ul>li em {
  
  font-size: 20px;
  font-weight: 200;
  position: absolute;
  left: 20px;
  top: 0;
}

.nav .spacer {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #10D9C8;
  left: 0;
  bottom: -2px;
}

.nav-consult  a{
  height: 36px;
  width: 96px;
  border: 2px solid black;
  border-radius: 20px;
  margin-right: 50px;
  margin-top: 15px;
  display: block;
  text-align: center;
  line-height: 36px;
  font-weight: 700;
}
/* header end ==================================*/


/* banner start ================================*/
.banner {
  background: url(../images/banner.jpg) no-repeat center top;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.banner video {
  /* width: 1349px;
  height: 620px; */
  position: absolute;
  left: 0;
  top: -100px;
  display: none;
}
.banner .banner-content {
  height: 120px;
  position: absolute;
  left: 50%;
  bottom: 90px;
  transform: translateX(-50%);
  color: #fff;
  line-height: 36px;
  text-align: center;
  z-index: 2;
}

.banner p:first-child {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 20px;
}

.banner p:first-child span {
  display: inline-block;
  height: 36px;
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid #fff;
}

.banner p:nth-child(2) {
  font-size: 20px;
  height: 36px;
  line-height: 36px;
  font-weight: 200;
}

.banner p:nth-child(3) {
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  font-weight: 200;
}

.banner-more {
  position: absolute;
  bottom: 20px;
  width: 320px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.banner-more a:first-child {
  margin-left: 35px;
  float: right;
}
/* banner end ==================================*/


/* product start ===============================*/
.product {
  height: 375px;
  margin: 20px 20px 0px 20px;
  background: url(../images/es8.jpg) no-repeat center top;
  background-size: cover;
  position: relative;
}

.introduce {
  width: 370px;
  height: 187px;
  position: absolute;
  left: 65px;
  top: 80px;
}

.product .es8-logo {
  background: url(../images/es8-logo.png) no-repeat center top;
  background-size: cover;
  width: 315px;
  height: 53px;
  margin: 0 auto;
}

.introduce p {
  font-size: 26px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.es8-discovery {
  margin: 0 auto;
  margin-top: 40px;
  width: 136px;
}
/* product end =================================*/


/* service start ===============================*/
.service {
  height: 400px;
  margin: 40px 20px 0px 20px;
}

.service-house {
  height: 400px;
  background: url(../images/house.jpg) no-repeat center top;
  background-size: cover;
  float: left;
  margin-right: 19px;
}

.house-content {
  margin: 0 auto;
  margin-top: 120px;
  width: 240px;
}

.house-content .house-logo {
  background: url(../images/niohouse-logo.png) no-repeat center top;
  background-size: cover;
  width: 240px;
  height: 36px;
}

.house-content p {
  margin-top: 25px;
  color: #fff;
  font-size: 16px;
  text-align: center;
} 

.house-content .user-center {
  margin: 0 auto;
  margin-top: 15px;
  width: 180px;
  height: 50px;
}

.special-button {
  width: 163px;
  height: 46px;
  border: 2px solid #fff;
  display: block;
  text-align: center;
  line-height: 46px;
  border-radius: 50px;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  position: relative;
  float: right;
  font-weight: 200;
}

.service-power {
  height: 400px;
  float: right;
  background: url(../images/power.jpg) no-repeat center top;
  background-size: cover;
}

.power-content {
  margin: 0 auto;
  margin-top: 120px;
  width: 240px;
}

.power-content .power-logo {
  background: url(../images/niopower-logo.png) no-repeat center top;
  background-size: cover;
  width: 240px;
  height: 36px;
}

.power-content p {
  margin-top: 25px;
  color: #fff;
  font-size: 16px;
  text-align: center;
} 

.power-content .power-more {
  margin: 0 auto;
  margin-top: 15px;
  width: 140px;
  height: 50px;
}
/* service end =================================*/


/* slide start =================================*/
.slide {
  margin-top: 20px;
  height: 618px;
  position: relative;
}

.slide-content {
  width: 100%;
  height: 618px;
  position: relative;
  overflow: hidden;
}

.slide-content ul {
  position: relative;
}

.slide-content ul li {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.slide-content li img {
  width: 100%; 
   height: 658px;
}

.slide-point {
  position: absolute;
  width: 54px;
  height: 10px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.slide-point i {
  display: block;
  float: left;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #00263c;
  margin-right: 5px;
  margin-top: 1px;
  cursor: pointer;
}

.slide-point .current {
  width: 10px;
  height: 10px;
  margin-right: 4px;
  margin-left: -1px;
  margin-top: 0;
  background-color: #13d4c8;
}
/* slide end ==================================*/


/* download start =============================*/
.download p {
  margin-top: 85px;
  text-align: center;
  font-size: 36px;
  font-weight: 200;
}

.download {
  height: 310px;
}

.download-app {
  margin: 0 auto;
  margin-top: 75px;
  width: 350px;
}

.download-app a {
  height: 110px;
  display: block;
  float: left;
  line-height: 110px;
}

.download-app a:first-child {
  margin-right: 65px;
}

.download-app .app-code img {
  width: 110px;
}

.download-app .app-store img {
  height: 58px;
}
/* download end ===============================*/


/* footer start ===============================*/
.footer-top {
  margin:0 20px;
  height: 45px;
}

.footer-top ul li {
  float: left;
  margin-right: 25px;
  font-size: 14px;
}

.footer-top ul li:first-child {
  margin-right: 20px;
}

.footer-top li a:hover {
  text-decoration: underline;
}

.footer-top-right {
  float: right;
}

.footer-top-right a {
  display: block;
  float: left;
  margin-top: 5px;
}

.footer-top-right a:first-child {
  margin-right: 15px;
}

.footer-top-right a:nth-child(2) {
  margin-right: 20px;
}

.footer-top-right .location {
  width: 74px;
  border-left: 1px solid #e3e3e3;
  height: 30px;
  padding-left: 15px;
  line-height: 30px;
  font-size: 14px;
  margin: 0;
}

.footer-top-right .location img {
  vertical-align: middle;
  margin-left: 10px;
}

.footer-bottom {
  border-top: 1px solid #dcdcdc;
}

.footer-bottom {
  padding-top: 20px;
  text-align: center;
  height: 35px;
}

.footer-bottom a {
  color: #d0d0d0;
  font-size: 14px;
}

.footer-bottom a img {
  margin-left: 25px;
}
/* footer end */